@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 128 56% 97%;
    --foreground: 125 15% 20%;
    --card: 128 50% 98%;
    --card-foreground: 125 15% 20%;
    --popover: 128 50% 98%;
    --popover-foreground: 125 15% 20%;
    --primary: 125 34% 74%;
    --primary-foreground: 125 25% 15%;
    --secondary: 125 30% 88%;
    --secondary-foreground: 125 25% 15%;
    --muted: 125 30% 92%;
    --muted-foreground: 125 10% 45%;
    --accent: 79 53% 62%;
    --accent-foreground: 79 30% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 125 20% 88%;
    --input: 125 20% 92%;
    --ring: 125 34% 74%;
    --chart-1: 125 34% 74%;
    --chart-2: 79 53% 62%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 128 50% 98%;
    --sidebar-foreground: 125 15% 25%;
    --sidebar-primary: 79 53% 62%;
    --sidebar-primary-foreground: 79 30% 15%;
    --sidebar-accent: 125 40% 94%;
    --sidebar-accent-foreground: 125 25% 15%;
    --sidebar-border: 125 20% 88%;
    --sidebar-ring: 79 53% 62%;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 24 9.8% 10%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 125 34% 74%;
    --primary-foreground: 125 25% 15%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 79 53% 62%;
    --accent-foreground: 79 30% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 125 34% 74%;
    --chart-1: 125 34% 74%;
    --chart-2: 79 53% 62%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 24 9.8% 10%;
    --sidebar-foreground: 60 9.1% 97.8%;
    --sidebar-primary: 79 53% 62%;
    --sidebar-primary-foreground: 79 30% 15%;
    --sidebar-accent: 12 6.5% 15.1%;
    --sidebar-accent-foreground: 60 9.1% 97.8%;
    --sidebar-border: 12 6.5% 15.1%;
    --sidebar-ring: 79 53% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
